<!DOCTYPE html>
<html>
    <head>
	<title>Create Procedure</title>
    </head>
    <body>
	<form action = "/createProcedure" method = "POST">
		<div>
		    <p> Procedure Name </p>
		    <input name="Procedure Name" type="text" placeholder="Procedure Name">
		</div>
		<div>
		    <p> Cost </p>
		    <input name="Cost" type="text" placeholder="Cost">
		</div>
		<div>
		    <p> Type </p>
		    <input name="Type" type="text" placeholder="Type">
		</div>
		<div>
		    <p> Facility </p>
		    <input name="Facility" type="text" placeholder="Facility">
		</div>
		<div>
		<button> Enter </button>
		</div>
	</form>
    </body>
</html>
