<!DOCTYPE html>
<html>
    <head>
        <title>Create Patient</title>
    </head>
    <body>
      <form action="/createPatient" method="post">
            <div>
                <p> First Name </p>
                <input name="fname" type="text" placeholder="First Name">
            </div>
            <div>
                <p> Last Name </p>
                <input name="lname" type="text" placeholder="Last Name">
            </div>
            <div>
                <p> Date of Birth </p>
                <input name="dob" type="text" placeholder="YYYY-MM-DD">
            </div>
            <div>
                <p> Address </p>
                <input name="address" type="text" placeholder="Address">
            </div>
            <div>
                <p> Phone </p>
                <input name="phone" type="text" placeholder="XXX-XXX-XXXX">
            </div>
            <div>
                <p> Sex </p>
                <select class = "form-control" id="sex" name = "sex">
           		<option value="M">Male</option>
			<option value="F">Female</option>
		</select>
	    </div>
            <div>
                <p> Height </p>
                <input name="height" type="text" placeholder="Height">
            </div>
            <div>
                <p> Weight </p>
                <input name="weight" type="text" placeholder="Weight">
            </div>
	    <div>
              <button> Create Patient </button>
            </div>
        </form>
    </body>
</html>
