<!DOCTYPE html>
<html>
    <head>
        <title>Log in</title>
    </head>
    <body>
      <form action="{{ url_for('login') }}" method="post">
            <div>
                <p> user name </p>
                <input name="username" type="text" placeholder="User name">
            </div>
            <div>
                <p> password </p>
                <input name="password" type="password" placeholder="Password">
            </div>
            <div>
              <button> Log In </button>
            </div>
        </form>
    </body>
</html>