<html>
    <head></head>
    <body>
        <div>
        <form action = "/search" method = "POST">
            <label for="search_type">Search by</label>
            <select class = "form-control" id="search_type" name = "query_type">
                <option value="Patient Name">Name</option>
                <option value="Patient ID">Patient ID</option>
                <option value="Staff Name">Staff Name</option>
                <option value="Staff ID">Staff ID</option>
            </select>
            <input class="form-control" name="info" placeholder="Search">
        </form>
        </div>
        <div class="container staff_info">
           <div>
                <table style = 'width: 100%'>
                    <tr>
                        <th>Staff ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Department</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Type</th>
                    </tr>
                        {% for item in staff_sid %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[6] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
        <div class="container patients">
           <span>Patients Worked On</span>
           <div>
                <table style = 'width: 100%'>
                    <tr>
                        <th>Patient ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Procedure</th>
                        <th>Procedure History</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                {% for patient in patients %}
                <tr>
                    <td><a href="/patient.html/{{ patient[0] }}">{{ patient[0] }}</a></td>
                    <td>{{ patient[1] }}</td>
                    <td>{{ patient[2] }}</td>
                    <td>{{ patient[4] }}</td>
                    <td>{{ patient[5] }}</td>
                    <td>{{ patient[6] }}</td>
                    <td>{{ patient[7] }}</td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>

    </body>
</html>
